body {
    font-family: 'Arial', sans-serif;
    background: #000000;
    text-align: center;
    margin-top: 30px;
    color: #39ff14; 
  }
  
  .game-container {
    display: inline-block;
    background: #111;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 0 25px rgba(57, 255, 20, 0.4);
  }
  
  canvas {
    border: 2px solid #39ff14;
    background-color: #000000;
    margin-top: 10px;
    box-shadow: 0 0 15px #39ff14;
  }
  
  button {
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 6px;
    background-color: #3cbb57; 
    color: #000;
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    box-shadow: 0 0 10px #16c5ae, 0 0 20px #30dcf3;
    transition: 0.3s ease-in-out;
  }
  
  button:hover {
    background-color: #22085f; 
    box-shadow: 0 0 15px #56498f, 0 0 30px #320ac4;
    color: #fff;
  }
  
  input[type="color"] {
    cursor: pointer;
    border: none;
    height: 30px;
    width: 60px;
    border-radius: 6px;
    box-shadow: 0 0 8px #fff;
    margin-left: 10px;
  }
  